

<div class="ui-g">
  <div class="ui-g-3" [style.background]="'green'">
    Mám zelené pozadí          
  </div>
  <div class="ui-g-3" [class.blueBackground]="true">
    <!-- <p-checkbox [(ngModel)]="value" binary="true"></p-checkbox> -->
    Mám třídu s modrým pozadím      
  </div>
  <div class="ui-g-3" [ngClass]="{blueBackground: true, redColor: false}">
    Mám NG třídu s modrým pozadím
  </div>
  <div class="ui-g-3">

  </div>
</div>


<div ui-g>
  <div class="ui-g-3">
    Formatované číslo: {{ 231203.23123 | decimalFormat: 2 }}
  </div>
  <div class="ui-g-3">
    Města na Slovensku: 

    <span *ngFor="let address of sampleAddresses | filterByAtribute: 'country': 'Slovensko'">
      {{ address.city }}
    </span>
  </div>
</div>

<div ui-g>
  <div class="ui-g-3">
    <div appHighlight>I will highlight under mouse!</div>
  </div>
</div>

<div ui-g>
  <div class="ui-g-12">
    <app-address-block (onSubmitAddress)="setAddress($event)"></app-address-block>
  </div>
</div>

<pre>{{address | json}}</pre>