
<p-tabView>
    <p-tabPanel header="Template-driven">
        <app-template-driven-form></app-template-driven-form>
    </p-tabPanel>
    <p-tabPanel header="Reactive">
        <app-reactive-form></app-reactive-form>
    </p-tabPanel>
</p-tabView>