

  <div *ngFor="let user of dummyData">
    <input type="text" pInputText [ngModel]="user.name" [disabled]="!user.isEditMode"/>
    <input type="text" pInputText [ngModel]="user.description" [disabled]="!user.isEditMode"/>
    <input type="text" pInputText [ngModel]="user.rating" [disabled]="!user.isEditMode"/>
    <input type="text" pInputText [ngModel]="user.rating" [disabled]="!user.isEditMode"/>
    <p-button *ngIf="!user.isEditMode" label="update" (click)="user.isEditMode=true" styleClass="ui-button-info"></p-button>
    <p-button *ngIf="user.isEditMode" label="save" (click)="saveUser(user)" styleClass="ui-button-info"></p-button>
    <p-button label="delete" (click)="deleteUser(user._id)" styleClass="ui-button-info"></p-button>
  </div>

  <!-- <h2>DB</h2>
  <div *ngFor="let user of dbData">
      <input type="text" pInputText [ngModel]="user.name" disabled/>
      <input type="text" pInputText [ngModel]="user.description" disabled />
      <input type="text" pInputText [ngModel]="user.rating" disabled />
      <input type="text" pInputText [ngModel]="user.rating" disabled />
      <p-button label="Click" (click)="deleteDbUser(user._id)" styleClass="ui-button-info"></p-button>
    </div> -->

<h2>Add user</h2>
<div class="ui-g">

    <div class="ui-g-3">
      <label for="name">Name:</label>
      <input id="name" type="text" pInputText [(ngModel)]="newUser.name" />
    </div>
  
    <div class="ui-g-3">
      <label for="description">Description:</label>
      <input id="description" type="text" pInputText [(ngModel)]="newUser.description" />
    </div>
  
    <div class="ui-g-3">
      <label for="rating">Rating</label>
      <input id="rating" type="text" pInputText [(ngModel)]="newUser.rating" />
    </div>
  
    <div class="ui-g-3">
      <label for="type">Type</label>
      <input id="type" type="text" pInputText [(ngModel)]="newUser.type" />
    </div>
  
  </div>
  <!-- <button id="disabled-btn" type="button" (click)="submitValues()" pButton label="Toggle"></button> -->
  <p-button label="Click" (click)="addUser(newUser)" styleClass="ui-button-info"></p-button>