<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
  <div formGroupName="personalData" novalidate>
    <div class="ui-g">
      <div class="ui-g-3">
        <label><span>Email:</span></label>
        <input formControlName="email">
      </div>
      <div class="ui-g-3">
        <label><span>Mobile:</span></label>
        <input formControlName="mobile">
       </div>
       <div class="ui-g-3">
        <label><span>Country:</span></label>
        <select formControlName="country">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-3">
      <label><span>Request:</span></label>
      <select formControlName="requestType">
        <option *ngFor="let requestType of requestTypes" [value]="requestType">{{requestType}}</option>
      </select>
      
      <div *ngIf="contactForm.controls['requestType']?.errors?.required  && contactForm.controls['requestType'].touched" class="error">
          Name is required
      </div>
    </div>
    <div class="ui-g-3">
      <label><span>Text:</span></label><input formControlName="text">
    </div>
    <div *ngIf="contactForm.controls['text']?.errors?.validName  && contactForm.controls['text'].touched" class="error">
        Text is not jozko or ferko
    </div>
  </div>

  <button type="submit" [disabled]="contactForm.pristine">Save</button>
  <button type="reset" (click)="revert()" [disabled]="contactForm.pristine">Revert</button>
</form>