<div class="ui-g">

  <div class="ui-g-3">
    <label for="city">City</label>
    <input id="city" type="text" pInputText [(ngModel)]="address.city" />
  </div>

  <div class="ui-g-3">
    <label for="city">Street</label>
    <input type="text" pInputText [(ngModel)]="address.street" />
  </div>

  <div class="ui-g-3">
    <label for="city">House number</label>
    <input type="text" pInputText [(ngModel)]="address.houseNumber" />
  </div>

  <div class="ui-g-3">
    <label for="city">Country</label>
    <p-dropdown [options]="countries" [(ngModel)]="address.country"></p-dropdown>
  </div>

</div>
<!-- <button id="disabled-btn" type="button" (click)="submitValues()" pButton label="Toggle"></button> -->
<p-button label="Click" (click)="submitValues()" styleClass="ui-button-info"></p-button>