
<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="ui-g">
    <div class="ui-g-3">
      <label>
        <span>Full name:</span>
        <input type="text" placeholder="Your full name" name="name" ngModel required appSpecialName>
      </label>
      <div *ngIf="f.controls.name?.errors?.required && f.controls.name?.touched" class="error">
          Name is required
      </div>
    </div>
  </div>
  <div ngModelGroup="account">
    <div class="ui-g">
      <div class="ui-g-3">
        <label>
          <span>Username:</span>
          <input type="text" placeholder="Your user name" name="username" ngModel required minlength="5">
        </label>
        
      </div>  
      <div class="ui-g-4">
        <label>
          <span>Email address:</span>
          <input type="text" placeholder="Your email address" name="email" ngModel required pattern="[^ @]*@[^ @]*">
        </label>
      </div>  
      <div class="ui-g-4">
        <label>
          <span>Confirm address:</span>
          <input type="text" placeholder="Confirm your email address" name="confirm" ngModel required pattern="[^ @]*@[^ @]*">
        </label>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="f.invalid">Sign up</button>
</form>
  
<pre>{{f.value | json}}</pre>